.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
   
}

.Header-logo {
    width: 200px;
    @media screen and (max-width: 768px) {
     width: 140px
    }
    border-style: none;
    list-style: none;
    text-decoration: none;

}

.App-link {
    color: #FF6060;
    font-size: 17px;
    text-align: right;
    font-weight: 500;
    line-height: 142.6%;
  
}
.clicked-link{
    text-decoration: underline;
}
.Navbar {
    display: flex;
    gap: 57px;
    font-size: 24px;
  
    @media screen and (max-width: 768px){
      font-size: 12px;
      gap: 10px;
      text-transform: uppercase;
    }
    a{
        text-decoration-line: none;
    }
  
}
