footer {
    background-color:black;
    height: 209px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  
    .Footer-logo{
      width: 122px;
      margin-top: 70px;
      @media screen and (max-width: 768px){
        margin-top:0px;
      }     
    }
  
    p {
      color:#ffff;
      font-size: 24px;
      @media screen and (max-width: 768px){
        font-size: 12px;
      }
     
    }
  }