
.banner-container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-top: 63px;

    h1 {
        position: absolute;
        color: #F6F6F6;
        font-size: 40px;
   
    }

    br {
        display: none;

    }
}
  
  .banner__img {
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
    
}
