
.banner-container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-top: 63px;

    h1 {
        position: absolute;
        color: #F6F6F6;
        font-size: 40px;
        padding: 10px;

        @media screen and (max-width: 768px) {
            font-size: 24px;
        }
    }

    br {
        display: none;

        @media screen and (max-width: 768px) {
            display: initial;
        }
    }
}
  
  .banner-img {
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
    height: 223px;
    filter: brightness(70%);
  
    @media screen and (max-width: 768px){
      height: 111px;
      border-radius: 10px;
    }
}
